<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<style>
*{
margin: 0px;
padding: 0px;
font-family: "微软雅黑";
}
.top{
width: 100%;
text-align:center;
}
.source{
font-size:12px;
margin-top:10px;
margin-bottom:10px;
}
.image{
text-align:center;
margin-bottom:10px;
}
.content p{
text-indent:2em;
margin-left:8px;
margin-right:8px;
font-size:14px;
}

</style>
</head>

<body>
<div class="top">
<h2>“学习路上——习近平总书记系列重要讲话大型网络数据库”今日上线</h2>
<h5>习近平总书记系列重要讲话网上宣传座谈会同日举行</h5>
<div class="source">2014年09月29日17:31   来源：人民网－中国共产党新闻网</div>
</div>
<div class="image"><img src="3.jpeg" width="300" height="150" /></div>
<div class="content">
<p>中国共产党新闻网北京9月29日电 在中央网信办指导下，“学习路上——习近平总书记系列重要讲话大型网络数据库”上线仪式暨习近平总书记系列重要讲话网上宣传座谈会今天上午在人民网举行，国家互联网信息办公室副主任彭波、人民日报社副总编辑马利等领导出席座谈会，四家中央重点新闻网站和三家商业门户网站负责人代表做了交流发言。</p>
<p> 座谈会上，人民网、新华网、光明网、中国经济网等中央重点新闻网站负责人分别介绍各自开展习近平总书记系列重要讲话网上宣传情况，并就下一步报道提出工作设想。四家网站认为，集中策划、主推原创、形成系列，充分运用网言网语和图表、音视频等多媒体手段，进一步使报道更加接地气，对于做好习近平总书记系列重要讲话网上宣传报道至关重要。同时，网上报道也要更加适合网络和移动新媒体传播，综合运用网站、微博、手机报、微信等传播平台，广泛开展立体化、互动式的宣传，从而引导广大党员干部和普通网民对讲话精神真正做到“知其言更知其意”、“知其然更知其所以然”。腾讯、新浪、百度等商业网站相关负责人就互联网上扩大习总书记系列重要讲话宣传效果、利用社交平台发起网民学习讨论话题、打造网络主流意识形态宣传阵地做了经验交流。</p>
<p>国家互联网信息办公室副主任彭波在听取7位网站负责人发言后，做了总结讲话。彭波指出，学习好、宣传好、贯彻好、落实好习近平总书记系列重要讲话精神，是当前全国网络宣传战线最重要的工作任务。今年以来，中央重点新闻网站和商业门户网站，从自身网站特点和报道优势出发，努力创新形式、扩大影响，让系列讲话精神在中华大地得到更广泛的传播。作为互联网上首个关于学习习近平总书记讲话的大型专题数据库，新上线的“学习路上”栏目不仅做到了对系列重要讲话梳理全面、解读权威、图文并茂做报道，而且契合了云时代的特点，实现了平台化、可视化、定制化，这在网络新闻宣传方面是一个重大创新。希望以“学习路上”栏目的推出为标志，各级网信部门和各网站把网上宣传习近平总书记系列讲话精神推进到一个新的阶段。</p>
<p>“学习路上——习近平总书记系列重要讲话大型网络数据库”专栏由中央网信办指导、人民网·中国共产党新闻网建设，是互联网上首个以数据库形式向广大网友宣传和推介习近平总书记重要讲话的专栏。适应新的媒体环境下平台化、可视化、定制化的趋势，数据库实现了新闻发布、信息检索、动态交互、资料分享、手机阅读等多重功能。</p>
<p>将提供最全面的学习辅导材料。目前，“学习路上”已收录十八大以来习近平同志的重要讲话100多篇，《之江新语》《干在实处 走在前列》等习近平著作，以及中宣部编辑出版的《习近平总书记系列重要讲话读本》，中央文献研究室编辑出版的《习近平关于实现中华民族伟大复兴的中国梦论述摘编》《习近平关于党的群众路线教育实践活动论述摘编》《习近平关于全面深化改革论述摘编》等权威部门出版的重要文献资料。资料库还集纳了人民日报、光明日报、求是等中央主流媒体刊发的一系列重大理论评论文章，以及人民网围绕学习总书记讲话精神推出的独家策划、各级领导干部谈学习体会等共计5万余篇文章。</p>
<p>将提供最生动的可视化学习资料。数据库收录了音视频、图解、高清图集等丰富的视觉资料，内容涵盖总书记在重要会议、活动上的讲话摘编，考察调研、出访活动的精彩瞬间，个人诗作以及曾经引用的经典名句等等。其中，高清图集《盘点十八大以来习近平的军队足迹》《习近平心系中国航空航天事业》，图解《习近平谈改革》、习近平1990年词作《念奴娇·追思焦裕禄》等等，都曾受到网友广泛关注。数据库将充分发挥视频、图解等多媒体作品视觉丰富、主题鲜明、易于理解等优势，对总书记重要讲话内容进行生动展现和解读。</p>
<p>将提供最系统的专题策划解读。为方便广大网友定向学习，人民网·中国共产党新闻网根据总书记重要讲话涉及到的不同领域，同步推出了学习习近平总书记讲话精神系列特别策划，围绕“坚持和发展中国特色社会主义”“实现中华民族伟大复兴的中国梦”“全面深化改革”“促进经济持续健康发展”“发展社会主义民主政治和依法治国”“建设社会主义文化强国”“改善民生和创新社会治理”“大力推进生态文明建设”“加强国防和军队建设”“国际关系和我国外交战略”“党要管党、从严治党”“科学的思想方法和工作方法”“港澳台工作”等主题，深入解读讲话精神。</p>
<p>“学习路上——习近平总书记系列重要讲话大型网络数据库”将在人民网、中国共产党新闻网重要位置突出推荐。广大网友还可通过关注人民网法人微博、微信，中国共产党新闻网官方微信账号“党员学习微平台”等移动端，及时了解“学习路上”栏目最新内容，随时随地掌握习近平总书记重要讲话精神。</p>
</div>

</body>
</html>
